* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  scroll-behavior: smooth;
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
}

header {
  height: 50px;
}

main {
  height: calc(100% - 50px);
  margin-top: 50px;
  scroll-behavior: smooth;
}
